/**
 * Module dependencies
 */

@require './variables'

/**
 * Apply `a` default styles.
 */

a
  color a--color
  text-decoration none

  &:hover
  &:focus
    if a--hover-color isnt inherit
      color a--hover-color
    text-decoration underline

  if a--visited-color isnt inherit
    &:visited
      color a--visited-color

  // address `outline` inconsistency between Chrome and other browsers
  &:focus
    outline thin dotted

  // improve readability when focused and also mouse hovered in all browsers
  &:active
  &:hover
    outline 0
